<app-admin></app-admin>
<div>
    <h5 style="text-align: center;">Nombre d'articles en stock: {{viewProduct.length}}</h5>
    <br>

    <input id="filter" type="text" class="form-control" placeholder="Tapez votre recherche ici..."
        style=" margin-left: 150px; padding-right: 150px; width: 400px;">
    <br><br>
    <table id="dataTables-example3" class="center" style="text-align: center;">
        <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>

                <th>Nom</th>
                <th>Marque</th>
                <!-- <th>Mrp</th> -->
                <th>Description</th>
                <th>Stock</th>
                <!-- <th>Taxe</th> -->
                <th>Catégorie</th>
                <th colspan="2">Action</th>
            </tr>
        </thead>
        <tbody class="searchable">
            <tr *ngFor="let viewproduct of viewProduct">

                <td>{{viewproduct.id}}</td>
                <td><img [src]="viewproduct.image" alt="Image non chargée" width="100px" height="100px"></td>

                <td>{{viewproduct.name}}</td>
                <td>{{viewproduct.brand}}</td>
                <!-- <td>{{viewproduct.mrp}}</td> -->
                <td>{{viewproduct.description}}</td>
                <td>{{viewproduct.stock}}</td>
                <!-- <td>{{viewproduct.tax}}</td> -->
                <td>{{viewproduct.category.name}}</td>
                <td><button (click)="updateProduct(viewproduct.id)" class="btn btn-success"
                        style="margin-left: 10px">Editer</button></td>
                <td><button (click)="deleteProduct(viewproduct.id,viewproduct.category.id)" class="btn btn-danger"
                        style="margin-left: 10px">Supprimer</button></td>

            </tr>
        </tbody>
    </table>

</div>