<app-dashboard></app-dashboard>
<div class="container fluid mb-3">
    <h3 style="text-align: center;"><b><i>Valider la commande</i></b></h3>
    <form [formGroup]="ProcessOrderForm" (ngSubmit)="processOrder()">
        <table class="table table-hover">
            <tr>
                <th>Client</th>
                <td>{{customer?.name}}</td>
            </tr>
            <tr>
                <th>Téléphone</th>
                <td>{{phoneNumber}}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{customer?.email}}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{address[0].addressLine}}</td>
            </tr>
            <tr>
                <th>Région</th>
                <td>{{address[0].city}}</td>
            </tr>
            <tr>
                <th>Pincode</th>
                <td>{{address[0].pinCode}}</td>
            </tr>
            <tr>
                <th>Rabais</th>
                <td>{{orderDetail?.discount}}</td>
            </tr>
            <tr>
                <th>Total</th>
                <td>{{orderDetail?.totalPrice | number:'1.2-3'}}</td>
            </tr>
            <tr>
                <th>Mode de paiment</th>
                <td><select class="custom-select" name="modeOfPayment" formControlName="modeOfPayment" required>
                        <option value="" selected>Choisissez votre option de paiement</option>
                        <option>Paypal</option>
                        <option>Stripe</option>
                        <option>Carte de débit</option>
                        <option>Tmoney</option>
                        <option>Flooz</option>
                    </select></td>
            </tr>


        </table>
        <small style="margin-left: 12cm;">
            <small *ngIf="modeOfPayment?.invalid &&(modeOfPayment?.touched||modeOfPayment?.dirty)">
                <small class="alert alert-danger" *ngIf="modeOfPayment?.errors?.required">* Le mode de paiment est
                    requis.</small>
            </small>
            <br><br>
        </small>
        <button style="margin-left: 12cm" [disabled]="modeOfPayment?.invalid"
            class="btn btn-info">Valider</button>&nbsp;&nbsp; <button [disabled]="shouldPdf" class="btn btn-success"
            type="submit"><a href={{url}}>Générer le reçu</a></button><br>

    </form>
</div>