<app-admin></app-admin>
<div>
    <form #userForm="ngForm" (ngSubmit)='save(userForm.value)' style="margin-top: 50px; margin-left: 400px;">
        <h3 style="margin-left: 130px;">Ajouter un pays</h3>
        <br>    
          <div class="form-group col-md-6">
            <label for="categoryname">Libellé du pays</label>
            <input type="text" class="form-control" name="name" placeholder="Entrer le libellé ici" ngModel required>
        </div>
          <br>
        <button type="submit" style="margin-left: 150px;" class="btn btn-primary">Valider</button>
      </form>
</div>