<app-admin></app-admin>
<div>
    <form #userForm="ngForm" (ngSubmit)='updateCategory(userForm.value)' style="margin-top: 50px; margin-left: 400px;">
        <h3 style="margin-left: 130px;">Mettre à jour la catégorie</h3>
        <br>    
          <div class="form-group col-md-6">
            <label for="categoryname">Entrez le nouveau nom de la catégorie</label>
            <input type="text" class="form-control" name="name" placeholder="Entrer le nom ici" pattern="[A-Za-z]" [(ngModel)]="category.name" required>
        </div>
          <br>
        <button type="submit" style="margin-left: 150px;" class="btn btn-primary">Mettre à jour</button>
      </form>
</div>