<app-admin></app-admin>
<h2 style="margin-left: 40%;">Ajouter un employé</h2>
<div [hidden]="submitted" >
  <form #userForm="ngForm" (ngSubmit)='addEmployee(userForm.value)' style="margin-left: 30%;margin-right: 30%;">
   
    <div class="form-group">
      <label for="name">Nom et prénoms</label><br>
      <input type="text" class="form-control"  placeholder="" required ngModel name="name">
    </div>

    <div class="form-group">
      <label for="name">Role</label><br>
      <input type="text" class="form-control" placeholder="" required ngModel name="role">
    </div>

    <div class="form-group">
      <label for="name">Email</label><br>
      <input type="email" class="form-control" placeholder="" required ngModel name="email">
    </div>
 <div class="form-group">
      <label for="name">Numéro de téléphone</label><br>
      <input type="number" class="form-control" placeholder="" required ngModel name="phoneNumber">
    </div>
    <div class="form-group">
      <label for="name">Adresse</label><br>
      <input type="text" class="form-control" placeholder=""  required ngModel name="address">
    </div>
    <br>
    <button style="margin-left: 40%;" [disabled]="userForm.invalid" type="submit" class="btn btn-success">Enregistrer</button>
  </form>
</div>

