<app-admin></app-admin>
<div>
    <h5 style="text-align: center;">Date et heure courante au Togo : {{today}}</h5>
    <h6 class="text-danger" style="margin-left: 2%;">*Les produits dont la quantité est inférieure à 10 sont surlignés
        en rouge.</h6>
    <table class="table" style="text-align: center;">
        <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>

                <th>Nom</th>
                <th>Marque</th>
                <!-- <th>Mrp</th> -->
                <th>Description</th>
                <th>Stock</th>
                <!-- <th>Taxe</th> -->
                <th>Catégorie</th>
            </tr>
        </thead>

        <tbody *ngFor="let viewproduct of viewProduct">
            <tr *ngIf="viewproduct.stock >=10">
                <td>{{viewproduct.id}}</td>
                <td><img [src]=viewproduct.image width="100px" height="100" alt="Image non chargée" /></td>

                <td>{{viewproduct.name}}</td>
                <td>{{viewproduct.brand}}</td>
                <!-- <td>{{viewproduct.mrp}}</td> -->
                <td>{{viewproduct.description}}</td>
                <td>{{viewproduct.stock}}</td>
                <!-- <td>{{viewproduct.tax}}</td> -->
                <td>{{viewproduct.category.name}}</td>
            </tr>

            <tr *ngIf="viewproduct.stock < 10" class="text-danger">
                <td>{{viewproduct.id}}</td>
                <td>{{viewproduct.name}}</td>
                <td><img [src]=viewproduct.image width="100px" height="100px" alt="Image non chargée" /></td>
                <td>{{viewproduct.brand}}</td>
                <!-- <td>{{viewproduct.mrp}}</td> -->
                <td>{{viewproduct.description}}</td>
                <td>{{viewproduct.stock}}</td>
                <!-- <td>{{viewproduct.tax}}</td> -->
                <td>{{viewproduct.category.name}}</td>
            </tr>

        </tbody>

    </table>

</div>