<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Liste des Produits</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" >
</head>
<body>
<header>

        <nav class="navbar navbar-expand-lg  navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">GeStock</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarScroll">
                    <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                        <li class="nav-item">
                            <a class="nav-link " aria-current="page" th:href="@{/home/index}" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/approv/index}">Approv</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/vente/index}">Panier</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/venteArticle/index}">Ventes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/categorie/index}">Categorie</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" th:href="@{/article/index}">Article</a>
                        </li>


                    </ul>
                    <a href="/logout" class="btn btn-outline-success">Se Deconnecter</a>

                </div>
            </div>
        </nav>

</header>

<div class="container" >
    <h2>Liste des produits</h2>
    <form th:action="@{/article/create}">
        <button type="submit" class="btn btn-primary">New Product</button>
    </form>
    <form class="d-flex" th:action="@{/article/search}" method="post">
        <input class="form-control me-2" type="text" name="libelle" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

    <table class="table table-stripped table-hover" >
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Libelle</th>
            <th scope="col">Qte Stock</th>
            <th scope="col">Qte Seuil</th>
            <th scope="col">Prix</th>
            <th scope="col">Date Création</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each = "produit:${listArticle}">
            <th scope="row" th:text = "${produit.id}"></th>
            <td th:text="${produit.libelle}"></td>
            <td th:text="${produit.qteStok}"></td>
            <td th:text="${produit.qteSeuil}"></td>
            <td th:text="${produit.prix}"></td>
            <td th:text="${produit.dateCreation}"></td>
            <td >
                <a th:href="@{/article/edit/{id}(id=${produit.id})}">Edit | </a>
                <a th:href="@{/article/delete/{id}(id=${produit.id})}">Delete | </a>
                <a th:href="@{/approv/create/{id}(id=${produit.id})}">Approv</a>
            </td>
        </tr>

        </tbody>
    </table>

</div>
<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>