<app-dashboard></app-dashboard>
<div class="container-fluid">
   
	<div class="container">
        <h2 class="text-center mt-4 mb-3">Statistiques des ventes par mois</h2>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card mt-4">
                    <div class="card-header">Circulaire</div>
                    <div class="card-body">
                        <div class="chart-container pie-chart">
                            <canvas id="pie_chart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mt-4">
                    <div class="card-header">En donut</div>
                    <div class="card-body">
                        <div class="chart-container pie-chart">
                            <canvas id="doughnut_chart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mt-4 mb-4">
                    <div class="card-header">A Barre</div>
                    <div class="card-body">
                        <div class="chart-container pie-chart">
                            <canvas id="bar_chart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>