<app-admin></app-admin>
<div>
  <form #userForm="ngForm" (ngSubmit)='save(userForm.value)' style="margin-top: 50px; margin-left: 400px;">
    <h3 style="margin-left: 130px;">Ajouter une région</h3>
    <br>
    <div>
      <div class="input-group-prepend">
        <label>Pays</label><br>
      </div>
      <select required class="form-group col-md-6" name="country" ngModel>
        <option value="" selected disabled>Choisir le pays</option>
        <option *ngFor="let c of country" [value]=c.id>{{ c.name }}</option>
      </select>
    </div><br>
    <div class="form-group col-md-6">
      <label for="categoryname">Libellé de la région</label>
      <input type="text" class="form-control" name="name" placeholder="Entrer le libellé ici" ngModel required>
    </div>
    <br>
    <button type="submit" style="margin-left: 150px;" [disabled]="userForm.invalid"
      class="btn btn-primary">Valider</button>
  </form>
</div>