<app-admin></app-admin>
<div style="text-align: center;">
<h2>Détails de l'employé immatriculé : {{employee.id}}</h2> 

<hr/>
<div *ngIf="employee">
  <div>
    <label><b>ID: </b></label> {{employee.id}}
  </div>
  <div>
    <label><b>Nom et prénoms: </b></label> {{employee.name}}
  </div>
  <div>
    <label><b>Rôle: </b></label> {{employee.role}}
  </div>
  <div>
    <label><b>Email: </b></label> {{employee.email}}
  </div>

<div>
    <label><b>Téléphone:</b></label> {{employee.phoneNumber}}
  </div>  
  <div>
    <label><b>Adresse: </b></label> {{employee.address}}
  </div>
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Retour au personnel</button><br>
</div>

