<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="navbar-brand" href="">GesStock 🛒 | Admin </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
       
        <li ngbDropdown class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle"  id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-left: 30px;">Catégories</a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" routerLink="/addCategory">Ajouter une catégorie</a>
            <a class="dropdown-item" routerLink="/viewCategory">Voir les catégories</a>
            <a class="dropdown-item" routerLink="/manageCategory">Gérer les catégories</a>
          </div>
        </li>

        <li ngbDropdown class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle"  id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Produits</a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" routerLink="/addProduct">Ajouter un produit</a>
            <a class="dropdown-item" routerLink="/viewProduct">Voir les produits</a>
            <a class="dropdown-item" routerLink="/manageProduct">Gérer les produits</a>
          </div>
        </li>
        
        <li ngbDropdown class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle"  id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Inventaire</a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" routerLink="/addinventory">Faire un approvisionnement</a>
            <a class="dropdown-item" routerLink="/viewinventory">Voir les approvisionnements</a>
            <a class="dropdown-item" routerLink="/manageinventory">Gérer les approvisionnements</a>
            <a href="http://localhost:8083/api/inventory/pdf" class="dropdown-item">Générer un PDF des approvisionnements</a>
          </div>
        </li>

        <li ngbDropdown class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle"  id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Fournisseurs</a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" routerLink="/addvendors">Ajouter un fournisseur</a>
            <a class="dropdown-item" routerLink="/viewvendors">Gérer les fournisseurs</a>
          </div>
        </li>

        <li ngbDropdown class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle"  id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Personnel</a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" routerLink="/createEmployee">Ajouter un employé</a>
            <a class="dropdown-item" routerLink="/employeeList">Gérer les employés</a>
          </div>
        </li>

        <li ngbDropdown class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle"  id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pays</a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" routerLink="/addcountry">Ajouter un pays</a>
            <a class="dropdown-item" routerLink="/viewcountry">Voir les pays</a>
          </div>
        </li>

        <li ngbDropdown class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle"  id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Régions</a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" routerLink="/addstate">Ajouter une région</a>
            <a class="dropdown-item" routerLink="/viewstate">Voir les régions</a>
          </div>
        </li>
      </ul>
    </div>
    <div>
      <button type="button" class="btn btn-danger" (click)="logout()">Se déconnecter 🚶🏾‍♂️</button>
    </div>
  </nav>