<app-admin></app-admin>
<div>
  <form #userForm="ngForm" (ngSubmit)='updateProduct(userForm.value)' style=" margin-left: 400px;">
    <h3 style="margin-left: 130px;">Mettre à jour le produit {{product.name}}</h3>
    <div class="form-group col-md-6">
      <label for="productname">Nom du produit</label>
      <input type="text" class="form-control" name="name" placeholder="" [(ngModel)]="product.name" required>
    </div>
    <br>
    <div class="form-group col-md-6">
      <label for="producturl">URL de l'image</label>
      <input type="text" class="form-control" name="image" placeholder="" [(ngModel)]="product.image" ngModel required>
    </div>
    <br>
    <div class="form-group col-md-6">
      <label for="productbrand">Marque</label>
      <input type="text" class="form-control" name="brand" placeholder="" [(ngModel)]="product.brand" ngModel required>
    </div>
    <br>
    <div class="form-group col-md-6">
      <label for="productdescription">Description</label>
      <input type="text" class="form-control" name="description" placeholder="" [(ngModel)]="product.description"
        ngModel required>
    </div>
    <br>
    <div>
      <div class="input-group-prepend">
        <label> Catégorie</label><br>
      </div>
      <select required class="form-group col-md-6" name="category" ngModel>

        <option value="" selected disabled>Choisir la catégorie</option>
        <option *ngFor="let c of category" [value]=c.id>{{ c.name }}</option>
      </select>
    </div><br>
    <button type="submit" [disabled]="userForm.invalid" style="margin-left: 150px;" class="btn btn-primary">Mettre à
      jour
    </button>
  </form>
</div>